.books-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: white;
}

.books-list {
  margin-top: 20px;
}

.book-list-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}

.input-box {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  width: 100%;
  max-width: 300px;
  background-color: #ddd;
  border-radius: 0.5em;
}

.add-book-button {
  background-color: #fdb870;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #1a202c;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
}

th {
  background-color: #1a202c;
  font-size: 1.1rem;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.actions button {
  padding: 0.75em;
  cursor: pointer;
  background-color: #fdb870;
  border: none;
  border-radius: 0.5em;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .actions {
    flex-direction: column;
  }

  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    min-width: 100px;
  }

  .books-list {
    text-align: center;
  }

  .book-list-header {
    justify-content: center;
  }
}
