.page-link-button {
  background-color: #fdb870;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #1a202c;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.page-buttons {
  display: flex;
  gap: 5rem;
}
